body {
  background: url("../images/gplaypattern.png");
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 10px auto 0 auto;
  clear: both;
}

.jumbotron h1 {
  font-size: 60px;
}

.jumbotron i {
  margin: 0 50px;
}

h1 i {
  margin: 0 50px;
}

h3 i {
  margin-right: 10px;
}
